<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="a programmer's portfolio" />
        <meta name="keywords" content="narendra, umate, engineer" />
        <meta content="index, follow, noarchive" name="robots" />
        <!-- link rel="icon" href="/favicon.ico"-->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body lang="ja">
        <div align="center">
        <table class="site"><tbody><tr><td>
        <div align="justify">
          <div class="header">
            <h2 class="title"><a href="/">{{ site.name }}</a></h2>
            <a class="extra" href="/">me</a>
            <a class="extra" href="/work.html">work</a>
          </div>
          {{ content }}
          <div class="footer">
            <div class="contact">
                <script language="javascript">
                    <!--
                    var user = "narendraumate";
                    var domain = "gmail";
                    var type = "com";
                    var label = user + "&#64;" + domain + "&#46;" + type;
                    document.write('<a href="mail' + 'to:' + user + '&#64;' + domain + '&#46;' + type + '">' + label + '</a>');
                    -->
                </script>
                <!-- a target="_blank" href="https://www.linkedin.com/in/narendraumate">contact</a -->
            </div>
          </div>
        <h1 class="title"></h1>
        </div>
        </td></tr></tbody></table>
        </div>
    </body>
</html>
